<!DOCTYPE html>
<html>
  <head>
    <title>Tra cứu khoá luận </title>

    <style>
        body {
            padding-bottom: 20px;
            background-color:rgb(236,248,236);

        }

        .navbar {
        margin-bottom: 20px;
        }

        th {
          vertical-align: middle;
        }
        background-color:rgb(236,248,236);
    </style>

  </head>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/mystyle.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>


  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'display_student' %}">Trang chủ  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view' %}" style="padding-bottom:10px">Danh sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_fl' %}" style="padding-bottom:10px">Thêm tài liệu</a>
      </li>
    </ul>

  </div>
  <form method="get" >
   <input type="text" name="q" id="id_q" value="{{ query }}" placeholder="Tìm kiếm">
   <select name="tieude">
       <option value="hoten">Tìm theo họ tên</option>
       <option value="detai">Tìm theo đề tài</option>
       <option value="masv">Tìm theo Mã sv</option>
   </select>
   <button class="btn btn-primary btn-sm" type="submit">Tìm</button>
   </form>
  </div>
</nav>

    <br>
    <div class="container">

      {% block body %}


      {% endblock%}

    </div>

  </body>
</html>
