{% extends 'list/base.html' %}

{% block body %}

<form class = "input" method="get" >
  <div class="input-group">
    <select name="tieude">
        <option value="hoten">Tìm theo họ tên</option>
        <option value="detai">Tìm theo đề tài</option>
        <option value="masv">Tìm theo Mã sv</option>
    </select>
    <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}" placeholder="Tìm kiếm">
    <button class="btn btn-primary btn-sm" type="submit">Tìm</button>

  </div>
</form>


 <a href="{% url 'kltn' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" > Khóa luận tốt nghiệp</a>
 <a href="{% url 'nckh' %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" > Nghiên cứu khoa học</a>

  <table class="table table-hover">
    <thead>
    <style>
    </style>

      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Đề tài</th>
        <th>Loại</th>
        <th>Cán bộ hướng dẫn</th>
        <th>Phản biện</th>
      </tr>
    </thead>

   <tbody>

     {% for student in students %}

         <tr>
           <td>{{ student.id }}</td>
           <td>{{ student.name }} </td>
           <td>{{ student.topic }}</td>
           <td>{{student.topic_type}}</td>
           <td>{{ student.tutor }}</td>
           <td>{{ student.reviewer }}</td>

           <td>
             <a href="{% url 'edit_info' student.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" > Edit</a>
             <a href="{% url 'delete_student' student.pk %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" > Delete</a>
           </td>

           {% if student.file %}
             <td><a href="{{ student.file.url }}" class="btn btn-primary btn-sm" target="_blank">
                View</a></td>
           {% endif %}
         </tr>

     {% endfor %}
    </tbody>
  </table>


<div>
    <ul class="pagination justify-content-center" >

        {% if students.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ students.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}&tieude={{ request.GET.tieude }}{% endif %}"><-Previous</a></li>
        {% endif %}

        {% if students.number > 5 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% endif %}

        {% for i in students.paginator.page_range %}
        {% if i > students.number|add:"-5" %}
            {% if i < students.number|add:"5" %}
                {% if students.number == i %}
        <li class="page-item active"><a class="page-link"<span>{{ i }} </span></li></a></li>
                {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}&tieude={{ request.GET.tieude }}{% endif %}">&nbsp;{{ i }}&nbsp;</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if students.number < students.paginator.num_pages|add:"-5" %}
        <li class="page-item"><a class="page-link" href="?page={{ students.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}&tieude={{ request.GET.tieude }}{% endif %}"><i>{{ students.paginator.num_pages }}</i></a></li>
        {% endif %}

        {% if students.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ students.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}&tieude={{ request.GET.tieude }}{% endif %}">&nbsp;Next-></a></li>

        {% endif %}
    </ul>
</div>
{% endblock %}
