{% extends 'list/base.html' %}

{% block body %}
<head>
    <style>
body{
    background-color: rgb(236,248,236);

}
    </style>

</head>
<h1 class="home-title">Hệ thống tra cứu khoá luận </h1>
      <h2 class="home-title">Trường ĐH Công Nghệ</h2>

<form class = "input" method="get" >
  <div class="input-group">
    <select name="tieude">
        <option value="hoten">Tìm theo họ tên</option>
        <option value="detai">Tìm theo đề tài</option>
        <option value="masv">Tìm theo Mã sv</option>
    </select>
    <input type="text" class="form-control" name="q" id="id_q" value="{{ query }}" placeholder="Tìm kiếm">
    <button class="btn btn-primary btn-sm" type="submit">Tìm Kiếm</button>

  </div>
</form>

{% endblock %}
