<title>Đăng nhập</title>
{% extends 'list/base.html' %}
{% block body %}
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

</style>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>Username : {{ form.username }}</p>
        <p>Password : {{ form.password }}</p>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>


{% endblock %}